{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Produits</th>
            <th>prix</th>
            <th>quantité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
            {{item.product.name}}
            </td>
            <td>
            {{item.product.price}}
            </td>
            <td>
            {{item.qty}}
            </td>
            <td>
            {{item.total}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">total</td>
        <td>{{total}}</td>
    </tr>
    </tfoot>
</table>

{% endblock %}
