{% extends "base.html.twig" %}

{% block title 'édition de la catégorie' %}

{% block body %}

<h1>Modification de la catégorie {{category.name}}</h1>
{{ form_start(formView) }}
{{ form_errors(formView)}}
<div class="row">
    <div class="col">
        {{ form_row(formView.name) }}
    </div>
</div>
<button type="submit" class="btn btn-primary ">
    <i class="fas fa-save"></i>
  éditer la catégorie
</button>
{{ form_end(formView) }}

{% endblock %}

