{% extends "base.html.twig" %}

{% block title %}
    Mes commandes
{% endblock %}

{% block body %}

<table class="table">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Adresse</th>
            <th>Date de comande</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for p in purchases %}    
        <tr>
            <td> {{p.id}}</td>
            <td>{{p.adress}} <br> {{p.postalCode}}, {{p.city}} </td>
            <td>{{p.purchasedAt | date('d/m/y h:i')}}</td>
            <td> {{p.total / 100}} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}